
<div class = "container" [ngClass]="setClasses()">

<p>{{todo.title}}</p>

<button (click)="onDelete(todo)" class="del"><i class="fa fa-trash"></i></button>

<button (click)="onComplete(todo)" class="right"><i class="fa fa-check-circle"></i></button>

</div>


