<div class = "container" >
    <h4>To do :</h4>
    <br/>
<app-items *ngFor = "let todo of todos" [todo]="todo" 
(deleteTodo)="deleteTodo($event)"
(completeTodo)="completeTodo($event)"
>  
</app-items>
<app-add-item (addTodo)="addTodo($event)"></app-add-item>
</div>