.container {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 10px;
    box-shadow: 0px 0px 0px rgba(18, 68, 92, 0.2);
    background-color: rgb(224, 217, 217);
    height: auto;
  }
  


  .h4{
      padding-top: 50px;
  }

  .is-complete {
    text-decoration: line-through;
  }