<form class= "form" #form="ngForm" (ngSubmit)="onSubmit(form)">

<br/><br/>
<label class="label">What do you need to do?</label>
<br/>

<input name="title" [(ngModel)]="title" size="92" placeholder=" Create read.md" #ctrlText="ngModel" required/>


<br/>
    
<div *ngIf="ctrlText.invalid && (ctrlText.dirty || ctrlText.touched)" class="error">ToDo Needs a
    description
</div>
<br/>
<input type="submit" value="SAVE ITEM" class="btn"> 
<br/>
<br/>
</form>


